<form class={{concat @class " my-0.5"}}>
  <div class="bg-white border group text-grey-400 focus-within:text-gray-600">
    <div>
      {{!--<FaIcon @icon="portrait" />--}}
      {{!-- can't use fa yet due to ember-get-config bug--}}
    </div>
    <label class="flex flex-row items-center pl-2 text-xs uppercase group-hover:font-medium group-hover:text-gray-700 focus-within:font-medium">
      {{@label}}
      <Input
        class="flex-grow p-1 ml-2 text-base bg-white border-t-0 border-r-0 border-b-0 border-l focus:ring-0"
        @type="text"
        @value={{@value}}
      />
    </label>
  </div>
</form>